#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .terraform lock file
.terraform.lock.hcl

# .user home directory
.user/

# terraform generated clusters directory
clusters/
